[submodule "somhunter-core"]
	path = somhunter-core
	url = git@github.com:siret-junior/somhunter-core
	branch = fm-test-http-server
[submodule "somhunter-ui"]
	path = somhunter-ui
	url = git@github.com:siret-junior/somhunter-ui
[submodule "somhunter-data-server"]
	path = somhunter-data-server
	url = git@github.com:siret-junior/somhunter-data-server.git
