vbs-log/
_local
node_modules/
build
!data/ITEC_w2vv/
.vs/
logs/*
output/
public/images/*
public/export/*
public/_thumbs/
public/thumbs_v3c1/
*.tmp
*.log
LOCAL_GIT_SETTINGS.md
cookie.txt
core/config.json
ui/public/thumbs/
ui/public/frames/
data/*
!data/nn_models
data/nn_models/*.pt
