vbs-log/
_local
node_modules/
build
data/*
!data/ITEC_w2vv/
.vscode/
.vs/
logs/*
output/
public/images/*
public/export/*
public/_thumbs/
public/thumbs_v3c1/
*.tmp
*.log
LOCAL_GIT_SETTINGS.md
cookie.txt
core/config.json
