.delete {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  background-color: #FFF;
  padding: 5px 2px 2px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.2;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 60%;
}

.paste-active {
 border: 4px solid #e36e08;
}

.collage-canvas {
  background-color: lightgrey;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.collage-image {
  border-color: blue;
  background-color: black;
  position: absolute !important;
  width: 20%;
}

.collage-image img {
  width: 100%;
}

.collage-image .delete {
  opacity: 1;
  color: #000;
}

.img-container {
  float: left;
  width: 24%;
  padding: 5px;
  position: relative;
}

.collage-search .inter-query-text {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 100%;
  width: 100px
}

.canvas-wrapper {
  position: relative;
  padding-bottom: 56.25%; 
  margin-bottom: 15px;
}

.collage-search {
  margin: auto;
  width: 100%;
} 

#collageTemporalQueries {
  max-width: 300px;
  position: relative;
}