@import "~bootstrap/scss/bootstrap";

.overlay {
  position: absolute;
  z-index: 100;
}

.global-notification-overlay {
  display: none;
  &.active {
    display: inline;
  }
}
.debug-buttons {
  bottom: 0;
}
