<!-- Include header -->
<%- include common/header.ejs %>

<section class="page-header-section">
  <div class="grid-x grid-padding-x align-center grid-container">

    <div class="page-header large-12 cell text-center">
      <h1>404 - Not found</h1>
    </div>

  </div>
</section>

<script>

</script>


</body>

<!-- Include footer -->
<%- include common/footer.ejs %>