
    </div> <!-- .off-canvas-content -->

    <!-- Include WhatInput 
    Used for tracking current input method. -->
    <script src="/javascripts/vendor/what-input.js"></script>
    
    <!-- Include Foundation -->
    <script src="/javascripts/vendor/foundation.js"></script>

    <!-- Custom scripts -->
    <script src="/javascripts/app.js"></script>
</body>
</html>
